@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
footer .redes-sociales {
  display: flex;
  justify-content: center; }

body header {
  background-color: white; }
  body header img {
    width: 350px;
    height: 75px; }
  body header nav div button .navbar-toggler-icon {
    color: white; }
  body header nav div div ul li .nav-item {
    display: inline-block;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px; }
  body header nav div div ul li .nav-link {
    background-color: #793a84;
    opacity: 0.75;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 8px;
    border-radius: 15px;
    margin: 7px; }
  body header nav div div ul li a:hover {
    animation: navegador 1s linear 1ms; }

/* ----------------------------- key frames nav ----------------------------- */
@keyframes navegador {
  0% {
    color: white; }
  20% {
    font-size: 21px;
    background-color: #e5e2c8;
    color: #793a84; }
  40% {
    font-size: 22px;
    background-color: #e5e2c8;
    color: #793a84; }
  60% {
    font-size: 23px;
    background-color: #e5e2c8;
    color: #793a84; }
  80% {
    font-size: 24px;
    background-color: #e5e2c8;
    color: #793a84; }
  100% {
    font-size: 25px;
    background-color: #793a84;
    color: white; } }

body main .bancos img {
  height: 10%;
  width: 100%; }

body main .local {
  height: 80vh;
  width: auto;
  background-image: url("../img/fondo1.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  flex-direction: column; }
  body main .local h1 {
    text-align: center; }
    body main .local h1 .fondo01 {
      text-align: center;
      text-decoration: none;
      color: #793a84;
      font-size: 100px;
      letter-spacing: 10px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      background-color: whitesmoke; }
  body main .local p {
    text-align: center; }
    body main .local p .fondo01 {
      text-decoration: none;
      font-size: 25px;
      letter-spacing: 5px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #793a84;
      background-color: whitesmoke; }

body main .grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
  position: relative;
  place-items: center; }
  body main .grid-container1 .galeria {
    --s: 300px;
    display: grid; }
  body main .grid-container1 .galeria img {
    margin: 15px;
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 2s; }
    body main .grid-container1 .galeria img:hover {
      clip-path: none; }
  body main .grid-container1 div p {
    margin: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #793a84;
    font-weight: bold; }
  body main .grid-container1 .item1 {
    grid-column-start: 1;
    grid-column-end: 2; }
  body main .grid-container1 .item2 {
    grid-column-start: 2;
    grid-column-end: 5; }
  body main .grid-container1 .item3 {
    grid-column-start: 1;
    grid-column-end: 4; }
  body main .grid-container1 .tem4 {
    grid-column-start: 4;
    grid-column-end: 5; }

body main .promociones h2 {
  background-color: #793a84;
  opacity: 0.5;
  padding: 20px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: white; }

body main .promociones div {
  display: flex;
  justify-content: center;
  box-shadow: -1px 1px 400px -27px #793a84;
  -webkit-box-shadow: -1px 1px 400px -27px #793a84;
  -moz-box-shadow: -1px 1px 400px -27px #793a84; }
  body main .promociones div div {
    width: 250px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    align-items: center;
    justify-content: center;
    transition: 2s; }
    body main .promociones div div:hover {
      transform: scale(1.2); }
    body main .promociones div div img {
      height: 200px;
      width: 150px;
      border-radius: 15px 15px;
      object-fit: scale-down; }
    body main .promociones div div h3 {
      background-image: linear-gradient(to bottom, #793a84, white);
      padding: 5px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 2px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: white;
      opacity: 0.75; }
    body main .promociones div div p {
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      margin-top: 30px;
      letter-spacing: 2px;
      font-style: normal;
      font-family: "Roboto", sans-serif;
      color: #793a84;
      font-weight: bold; }

body main section .banner img {
  width: 100%;
  height: 50%; }

body main #pie {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  body main #pie iframe {
    margin: 10px; }
  body main #pie ul {
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end; }
    body main #pie ul li img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      margin: 0; }
    body main #pie ul li {
      text-decoration: none;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #793a84;
      padding: 10px; }

body main .boton-fixed img {
  width: 10%;
  height: 10%;
  position: fixed;
  right: 20PX;
  bottom: 50px;
  opacity: 0.5;
  transition: 5s; }
  body main .boton-fixed img:hover {
    opacity: 1;
    width: 20%;
    height: 20%;
    transform: translate(-70%); }

footer .redes-sociales {
  background-color: #e5e2c8; }
  footer .redes-sociales a img {
    width: 75px;
    height: 75px;
    padding: 15px;
    transition: 2s; }
    footer .redes-sociales a img:hover {
      transform: scale(1.4); }

body main .lentes {
  background-image: url(../img/fondomadera.webp);
  opacity: 1;
  object-fit: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }
  body main .lentes h2 {
    background-color: #793a84;
    opacity: 0.5;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: white; }
  body main .lentes div div div {
    width: 200px;
    height: 350px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    object-fit: scale-down; }
    body main .lentes div div div img {
      height: 150px;
      max-width: 180px;
      border-radius: 15px 0px 0px 15px;
      object-fit: contain; }
    body main .lentes div div div h3 {
      background-color: #793a84;
      padding: 5px;
      font-size: 20px;
      letter-spacing: 2px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: white;
      opacity: 0.75; }
    body main .lentes div div div p {
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 2px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #793a84;
      text-overflow: hidden;
      margin: 5px; }

body main .armazones h2 {
  background-color: #793a84;
  opacity: 0.5;
  padding: 20px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white; }

body main .acordeon .accordion-item h2 {
  background-color: #793a84;
  padding: 5px;
  margin: 5px 0 5px 0;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white; }
  body main .acordeon .accordion-item h2 .accordion-button {
    background-color: #793a84;
    margin: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    font-style: normal;
    font-weight: "Roboto", sans-serif;
    color: white; }
  body main .acordeon .accordion-item h2 .accordion-button:not(.collapsed) {
    background-color: #793a84;
    margin: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: white; }

body main .acordeon .accordion-item div .accordion-body {
  background-color: #e5e2c8;
  opacity: 0.75;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

body main .lentes .h2 {
  background-color: #793a84;
  opacity: 0.8;
  padding: 20px;
  margin: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  letter-spacing: 10px;
  font-style: normal;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white; }

body main .lentes .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  position: static; }
  body main .lentes .grid-container .grid-item {
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    align-items: center;
    box-shadow: 21px 22px 35px 20px rgba(0, 0, 0, 0.49);
    -moz-background-inline-policy: 21px 22px 35px 20px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 21px 22px 35px 20px rgba(0, 0, 0, 0.49); }
    body main .lentes .grid-container .grid-item img {
      width: 40%;
      height: 60%;
      object-fit: contain; }
    body main .lentes .grid-container .grid-item h3 {
      background-color: #793a84;
      padding: 5px;
      font-size: 20px;
      letter-spacing: 2px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: white; }
    body main .lentes .grid-container .grid-item p {
      text-align: center;
      text-decoration: none;
      padding: 5px;
      font-size: 15px;
      letter-spacing: 2px;
      font-style: normal;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      color: #793a84;
      text-align: center;
      text-overflow: ellipsis; }
  body main .lentes .grid-container .primer-item {
    grid-column-start: 1;
    grid-column-end: 2; }
  body main .lentes .grid-container .segundo-item {
    grid-column-start: 2;
    grid-column-end: 4; }
  body main .lentes .grid-container .tercer-item {
    grid-column-start: 4;
    grid-column-end: 5; }
  body main .lentes .grid-container .cuarto-item {
    grid-column-start: 1;
    grid-column-end: 2; }
  body main .lentes .grid-container .quinto-item {
    grid-column-start: 2;
    grid-column-end: 3; }
  body main .lentes .grid-container .sexto-item {
    grid-column-start: 3;
    grid-column-end: 5; }

body .formulario {
  background-image: url(../img/imagencontactos.webp);
  opacity: 0.75;
  object-fit: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center; }
  body .formulario div {
    display: flexbox; }
    body .formulario div .form-label {
      text-decoration: none;
      padding: 5px;
      font-size: 20px;
      font-style: normal;
      font-family: "Roboto", sans-serif;
      color: white;
      opacity: 0.75;
      text-align: center;
      margin: 10px;
      font-weight: 700; }
    body .formulario div .form-control {
      width: 40%;
      border: 3px solid #793a84;
      border-radius: 4px;
      padding: 5px 15px;
      margin: 5px;
      box-sizing: border-box;
      display: inline-block;
      justify-content: center;
      align-items: center; }
  body .formulario .botones {
    display: flexbox;
    justify-content: center; }
    body .formulario .botones input {
      width: auto;
      background-color: #793a84;
      border: none;
      color: white;
      padding: 16px 25px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-size: 15;
      font-weight: bold;
      display: inline-flex;
      justify-content: center; }

@media screen and (max-width: 1150px) {
  body main #pie ul li img {
    width: 150px;
    height: 150px; } }

@media screen and (max-width: 1000px) {
  body header nav ul li {
    margin: 5px; }
  body header nav ul li a {
    font-size: 15px;
    padding: 4px; }
  body main .grid-container div p {
    font-size: 20px; }
  body main #pie ul li img {
    width: 125px;
    height: 125px; } }

@media screen and (max-width: 864px) {
  body main .promociones div div p {
    font-size: 16px; }
  body main #pie ul li img {
    width: 95px;
    height: 95px; } }

@media screen and (max-width: 760px) {
  body main .lentes h2 {
    font-size: 40px; }
  body main .grid-container1 div p {
    font-size: 13px; }
  body main .grid-container1 .galeria {
    --s: 200px; }
  body main .promociones div div p {
    font-size: 13px; } }

@media screen and (max-width: 715px) {
  body header {
    flex-direction: column;
    text-align: center; }
  body header nav ul li {
    display: flex;
    flex-direction: column; }
  body main .local h1 .fondo01 {
    font-size: 50px; }
  body main .local p {
    font-size: 20px; }
  body main #pie ul li img {
    width: 75px;
    height: 75px; }
  body main .promociones div div p {
    font-size: 13px; } }

@media screen and (max-width: 670px) {
  body main .promociones div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  body main .promociones div div p {
    font-size: 16px; }
  body main .lentes h2 {
    font-size: 30px; }
  body main #pie ul img {
    width: 90px;
    height: 90px; } }

@media screen and (max-width: 600px) {
  body main .local {
    height: 50vh;
    width: auto; }
  body main .promociones h2 {
    font-size: 25px; }
  body main .armazones h2 {
    font-size: 25px; }
  body main #pie iframe {
    width: 100%;
    height: 50vh; }
  body main #pie {
    display: flex;
    flex-direction: column; }
  body main #pie ul img {
    display: none; }
  body main .lentes .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px; }
  body main .lentes .grid-container .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  body main .lentes .grid-container .grid-item p {
    display: none; } }

@media screen and (max-width: 537px) {
  body main .lentes h2 {
    font-size: 20px; }
  body main .acordeon h2 {
    font-size: 20px; } }

@media screen and (max-width: 521px) {
  body main .boton-fixed {
    display: none; }
  body main .promociones div div {
    width: 200px;
    height: 400px; }
  body main .grid-container1 {
    display: none; } }

@media screen and (max-width: 430px) {
  body main .lentes .grid-container {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px; }
  body main .lentes .grid-container .grid-item {
    grid-column: 1px;
    grid-row: 1px; }
  body main .local {
    height: 40vh;
    width: auto; } }

@media screen and (max-width: 389px) {
  body header img {
    width: 80%;
    height: 10%; }
  body main .local {
    height: 20vh;
    width: auto; }
  body main .local h1 .fondo01 {
    font-size: 30px; }
  body main .local p {
    font-size: 15px; }
  body main .promociones h2 {
    font-size: 20px; }
  body main .acordeon h2 {
    font-size: 20px; }
  body main .armazones h2 {
    font-size: 20px; }
  main .promociones div div {
    width: 200px;
    height: 350px; } }
