body{
    main{
        .armazones{
            h2{
                background-color:map-get($titulo, bc-titulo );
                opacity:map-get($titulo,opacidad);
                padding: map-get($titulo, pad);
                margin: 10px 0 10px 0;
                text-decoration: none;
                text-align: map-get($titulo, alineacion);
                font-size: 50px;
                letter-spacing: 10px;
                font-style:map-get($titulo, estilo-fuente );
                font-weight: map-get($titulo , weig);
                font-family: $fuente-principal;
                color:map-get($titulo, color-titulo );
            }
        }
    }
}