footer{
    .redes-sociales{
        background-color: $color-secundario;
        @extend %flex;
        a{
            img{
                width: 75px;
                height: 75px;
                padding: 15px;
                transition: 2s;
                &:hover{
                    transform: scale(1.4);
                }
            }
        }
    }
}