
body{
main{
    .bancos{
                img{
                    height: auto;
                    width: 100%;
                }
    }
    .local{
    height: 80vh;
    width: auto;
    background-image: url("../img/local.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
        h1{text-decoration: none;
            text-align: center;
            font-size: 100px;
            letter-spacing: 10px;
            font-style: normal;
            font-weight: bold;
            font-family: $fuente-principal;
            color: $color-tercero;}
        p{text-decoration: none;
            text-align: center;
            font-size: 25px;
            letter-spacing: 5px;
            font-style: normal;
            font-weight: 10;
            font-family: 'Roboto', sans-serif;
            color: $color-tercero;}
    }
    .promociones{
        h2{background-color: $color-principal;
            opacity: 0.75;
            padding: 20px;
            margin: 10px 0 10px 0;
            text-decoration: none;
            text-align: center;
            font-size: 50px;
            letter-spacing: 10px;
            font-style: normal;
            font-weight: bold;
            font-family:$fuente-principal;
            color:$color-tercero;}
        div{
            div{
                width: 250px;
                height: 450px;
                border: 1px solid $color-cuarto;
                margin: 10px;
                text-align: center;
                border-radius: 15px;
                background-color: $color-tercero;
                display: inline-block;
                justify-content: center;
                overflow: auto;
                align-items: center;
                transition: 2s;
                &:hover{
                    transform: scale(1.2);
                }
                img{
                    height: 200px;
                    width: 250px;
                    border-radius: 15px 0px 0px 15px;}
                h3{
                    background-image: linear-gradient(to bottom, $color-principal, white);
                    padding: 5px;
                    text-decoration: none;
                    text-align: center;
                    font-size: 20px;
                    letter-spacing: 2px;
                    font-style: normal;
                    font-weight: bold;
                    font-family:$fuente-principal;
                    color: $color-tercero;
                    opacity: 0.75;
                }
                p{   
                    text-decoration: none;
                    text-align: center;
                    font-size: 15px;
                    letter-spacing: 2px;
                    font-style: normal;
                    font-weight: bold;
                    font-family: $fuente-principal;
                    color:$color-principal;
                }
            }
        }
    }
    section{
        .banner{
            img{
                width: 100%;
                height: 50%;
            }
        }
    }
    #pie{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-evenly;
        ul{
            list-style: none;
            li{
                text-decoration: none;
                font-size: 20px;
                font-style: normal;
                font-weight: bold;
                font-family: $fuente-principal;
                color: $color-principal;
                padding: 15px;
                margin-top: 50px;
            }
        }    
    }
    .boton-fixed{
        img{
            width: 10%;
            height: 10%;
            position: fixed;
            right: 20PX;
            bottom: 50px;
            opacity: 0.5;
            transition: 5s;

            &:hover{
                opacity: 1;
                width: 30%;
                height: 30%;
                transform: translate(-70%);
            }
        }
    }
}     
}