@media screen and (max-width:1150px) {
    body main #pie ul li img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:1000px) {
    body header nav ul li {
        margin: 5px;
    }

    body header nav ul li a {
        font-size: 15px;
        padding: 4px;
    }
    body main .grid-container div p{
        font-size: 20px;

    }
    body main #pie ul li img{
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width:864px){
    body main .promociones div div p {
        font-size: 16px;
    }
    body main #pie ul li img{
        width: 95px;
        height: 95px;
    }

}

@media screen and (max-width:760px) {
    body main .lentes h2 {
        font-size: 40px;
    }
    body main .grid-container1 div p{
        font-size: 13px;

    }
    body main .grid-container1 .galeria {
        --s: 200px;
    }
    body main .promociones div div p {
        font-size: 13px;
    }
}

@media screen and (max-width:715px) {
    body header {
        flex-direction: column;
        text-align: center;
    }

    body header nav ul li {
        display: flex;
        flex-direction: column;
    }

    body main .local h1 .fondo01{
        font-size: 50px;
    }

    body main .local p {
        font-size: 20px;
    }

    body main #pie ul li img{
        width: 75px;
        height: 75px;
    }
    body main .promociones div div p {
        font-size: 13px;
    }
}

@media screen and (max-width:670px){
    body main .promociones div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    body main .promociones div div p {
        font-size: 16px;
    }

    body main .lentes h2 {
        font-size: 30px;
    }
    body main #pie ul img{
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width:600px) {
    body main .local {
        height: 50vh;
        width: auto;
    }
    body main .promociones h2 {
        font-size: 25px;
    }

    body main .armazones h2{
        font-size: 25px;
    }


    body main #pie iframe {
        width: 100%;
        height: 50vh;
    }

    body main #pie {
        display: flex;
        flex-direction: column;
    }
    body main #pie ul img{
        display: none;
    }

    body main .lentes .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }

    body main .lentes .grid-container .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
    body main .lentes .grid-container .grid-item p {
        display: none;
    }
}

@media screen and (max-width:537px) {
    body main .lentes h2 {
        font-size: 20px;
    }

    body main .acordeon h2 {
        font-size: 20px;
    }
}

@media screen and (max-width:521px) {
    body main .boton-fixed {
        display: none;
    }

    body main .promociones div div {
        width: 200px;
        height: 400px;
    }

    body main .grid-container1{
        display: none;
    }
}

@media screen and (max-width:430px) {
    body main .lentes .grid-container {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }

    body main .lentes .grid-container .grid-item {
        grid-column: 1px;
        grid-row: 1px;
    }
    body main .local {
        height: 40vh;
        width: auto;
    }
}


@media screen and (max-width:389px) {
    body header img {
        width: 80%;
        height: 10%;
    }

    body main .local {
        height: 20vh;
        width: auto;
    }
    body main .local h1 .fondo01{
        font-size: 30px;
    }
    body main .local p{
        font-size:15px ;
    }

    body main .promociones h2 {
        font-size: 20px;
    }

    body main .acordeon h2 {
        font-size: 20px;
    }

    body main .armazones h2{
        font-size: 20px;
    }

    main .promociones div div {
        width: 200px;
        height: 350px;
    }
}