@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
$titulo:(
    //key:valor
    bc-titulo:#793a84,
    opacidad:0.50,
    color-titulo:white,
    estilo-fuente: normal,
    weig: bold,
    alineacion: center,
    pad: 20px,
    
)