$color-principal:#793a84;
$color-secundario:rgb(229, 226, 200);
$color-tercero:white;
$color-cuarto:black;


//*extends

%flex{
    display: flex;
    justify-content: center;
}

//*mixin
@mixin text ($align, $decoracion){
    text-align: $align;
    text-decoration: $decoracion;
}